asn1crypto==0.24.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
get==1.0.3
idna==2.7
mysql-connector==2.1.6
post==1.0.2
public==1.0.3
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.3
query-string==1.0.2
request==1.0.2
requests==2.19.1
six==1.11.0
urllib3==1.26.5
